#python compiled files
*.py[cod]
__pycache__

#package related files / dirs
*.deb
dist
build
sdist
MANIFEST
.project
*.egg-info

#pytest cache
.cache
.pytest_cache

# IDE stuff
.idea
.pydevproject
.settings
.vscode
